@import-normalize; 

:root {
--main-black: #121417;
--secondary-black: rgba(18, 20, 23, 0.80);
--main-green: #85AA9F;
--main-bgc: #F8F8F8;
--main-white: #FCFCFC;
--green-hover: #A5C0B8;
--secondary-background: rgba(133, 170, 159, 0.10);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'FixelDisplay';
  src: url('./assets/fonts/FixelDisplay/FixelDisplay-Medium.woff2') format('woff2'), url('./assets/fonts/FixelDisplay/FixelDisplay-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FixelDisplay';
  src: url('./assets/fonts/FixelDisplay/FixelDisplay-SemiBold.woff2') format('woff2'), url('./assets//fonts//FixelDisplay//FixelDisplay-SemiBold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FixelDisplay';
  src: url('./assets//fonts//FixelDisplay/FixelDisplay-Bold.woff2') format('woff2'), url('./assets//fonts//FixelDisplay/FixelDisplay-Bold.otf')  format('otf'); 
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FixelDisplay';
  src: url('./assets//fonts//FixelDisplay/FixelDisplay-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('./assets//fonts/SanFranciscoProDisplay/SF-Pro-Display-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('./assets//fonts/SanFranciscoProDisplay/SF-Pro-Display-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProText';
  src: url('./assets//fonts/SanFranciscoProText/SFProText-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}